{
    box-sizing: border-box;
}
  
body {
    font: 16px Arial;
    background-image: url('/static/nice_beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}